@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome */
::-webkit-scrollbar {
	width: theme('spacing.4');
}

::-webkit-scrollbar-track {
	background: theme('colors.gray.300');
}

::-webkit-scrollbar-thumb {
	background: theme('colors.primary');
	border: 1px solid theme('colors.gray.300');
}

/* Firefox */
* {
	scrollbar-color: theme('colors.primary') theme('colors.neutral');
}
