@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome */
.scroll::-webkit-scrollbar {
	width: theme('spacing.2');
}

.scroll::-webkit-scrollbar-track {
	background: theme('colors.gray.300');
}

.scroll::-webkit-scrollbar-thumb {
	background: theme('colors.primary');
}

/* Firefox */
.scroll {
	scrollbar-color: theme('colors.primary') theme('colors.neutral');
}
